<%= render 'shared/banner' %>


<div class="all_heading">About us</div>

<p> Plantish is a platform where all people can bond together. </p>
<p>We encourage people on gardening while making a scope for them to sell their fresh grown item via <strong>Plantish</strong></p>
<p>Our product range inclued: seeds, seedlings, fruits and vegetables, flowers, indoor plants, succulents, small plants and garden tools(used/ new)</p>
<p>Our platform is still under construction.</p>
<p> VERY SOON WE WILL BE OPENING OUR MARKETPLACE.</p>
<p>Our Developer team is working hard to make this happen.</p>
<p>But the door is open for all to creat an account on <strong>Plantish</strong> and upload their garden products.</p>
<p>Untill then , thank you for visiting <strong>Plantish</strong></p>

<br />
<p>Kind regards,</p>
<p>Founder - Syeda Ismat Farjana</p>


<br />

<div class="promote_row">

  <p>Help <strong>Plantish</strong> grow faster and stronger</p>
  <a href="https://www.redbubble.com/shop/ap/53319520?asc=u" target="_blank">
    <p>Visit our shop on <strong>REDBUBBBLE</strong></p>
    <div class="promote_banner">

      <%= image_tag 'promote1.jpg', class: 'promote_pic_single' %>
      <%= image_tag 'promote2.jpg', class: 'promote_pic_single' %>
      <%= image_tag 'promote3.jpg', class: 'promote_pic_single' %>


    </div>
  </a>
</div>
