<div class="banner">

    <%#= image_tag 'banner1.jpg', class: 'banner_pic_single' %>
    <%= image_tag 'banner2.jpg', class: 'banner_pic_single' %>
    <%#= image_tag 'banner3.jpg', class: 'banner_pic_single' %>
    <%#= image_tag 'banner4.jpg', class: 'banner_pic_single' %>
    <%= image_tag 'banner5.jpg', class: 'banner_pic_single' %>
    <%= image_tag 'banner6.jpg', class: 'banner_pic_single' %>
</div>