<div class="navbar">
  <div class="nav_link_wrapper">
    <a><%= link_to "Home", '/' %></a>
    <a><%= link_to "About us", about_path %></a>
    <a><%= link_to "Contact", contact_path %></a>
  </div>
</div>
