<p id="notice"><%= notice %></p>

<div class="all_heading"><%= @profile.first_name.capitalize %>'s Order Confirmation</div>


<br>

Payment of AUD $<%= @orders.last.amount %> is successful.<br />
We will process your order within 2 business days<br /><br /><br />
Thank you <strong><%= @orders.last.buyer.profile.first_name.capitalize %></strong> for shopping at Plantish


