/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
    box-sizing: border-box;
    max-width: 100%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    margin-bottom: 10px;
    color: darkslategrey;

}

*, *:before, *:after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: darkslategray;
}

.all_heading {
    margin: 70px 0 30px 0;
    font-size: 25px;

}

.main_logo {
    width: 250px;
    height: auto;
    margin: 10px 0;
}

/*insta banner picture style*/

.insta_banner {
    /*box-sizing: border-box;*/
    /*display: flex;*/
    /*flex-wrap: nowrap;*/
    margin: 40px 110px 70px 110px;
    background-color: black;

}

.insta_pic_single {
    height: auto;
    width: 8vw;
    padding: 0;
}


/*main banner */

.banner {
    box-sizing: border-box;
}

.banner_pic_single {
    height: auto;
    width: 33vw;
    padding: 0;
}





/*login*/
.sign_in_out {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 60px;
    right: 20px;
    font-size: 15px;
}

.sign_log {
    padding: 0 10px;
}
.notice {
    position: fixed;
    top: 0px;

}



/*sign in form*/
form#new_user {
    background-color: RGB(241,244,185);
    margin: auto;
    padding: 50px 0;
    width: 600px;
    height: auto;
}

input#user_email {
    width: 400px;

}

input {
    width: 400px;
    height: 30px;
    margin-top: 7px;
}

input[type="submit"] {
    background-color: RGB(0,104,138);
    color: RGB(249,228,188);
    height: 30px;
    font-size: 20px;
}

.session {
    padding: 10px;
}


/*profile form*/
.profile_form {
    border: 1px solid gray;
    width: 80vw;
    margin: auto;
    margin-top: 50px;
    padding: 20px 0;
}
label {
    text-align: left;
    padding-left: 100px;
    font-size: 20px;
}
.label#label {
    padding-left: 100px;
    font-size: 20px;
}

.add_or_edit_profile_form {
    display: flex;
    flex-direction: row;
}

.add_or_edit_profile_form_parts#profile_picture {
    width: 5vw;
    margin: 0 5vw;
}
.add_or_edit_profile_form_parts#profile_description {
    padding: 0 10vw;
    margin: 20px 0;
}


/*my profile page*/
.my_profile_container {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.my_profile_box {
    margin: 0 30px;
}

.my_profile_box#profile_description {
    text-align: left;
    display: flex;
    flex-direction: row;

}


.profile_description_box {
    margin: 0 25px;
}



.edit_button {
    border: 0.5px solid rgb(97, 160, 104);
    padding: 5px 10px;
    text-decoration: none;
    background-color: rgb(247, 242, 187);
    color: rgb(127, 185, 239);
}

.edit_button:hover {
    color: rgb(247, 242, 187);
    background-color: rgb(127, 185, 239);
}





/*navigation bar*/

.navbar {
    padding-bottom: 20px;
    margin-top: 20px;
}


.navbar > .nav_link_wrapper > a {
    margin: 0 1em;
    text-decoration: none;
    font-size: 20px;
    color: darkslategray;
}

.navbar > .nav_link_wrapper > a:hover {
    text-decoration: none;
}


.dropdown > .nav_category {
    font-size: 20px;
    color: darkslategray;
}

/*dropdown category*/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 20px;
    text-align: left;
}





.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: lightgoldenrodyellow}

.dropdown:hover .dropdown-content {
    display: block;
}

/*main homepage category */

.all_categories {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 100px 0;
}


/*one category list line*/


.category_box_line {
    display: flex;
    flex-direction: column;
    padding: 0 5px;

}

/*each category item box image of home page*/

.one_category {
    height: auto;
    width: 20vw;
    padding: 10px 0px;
    margin-bottom: 25px;
    justify-content: left;
}

.one_category_image {
    height: auto;
    width: 20vw;
    padding: 10px 5px;
    /*margin: 20px 10px;*/
    justify-content: left;
}

.one_category > a > h3 {
    margin: 0;
    border: 1px solid darkgreen;
    border-top: 0;
    padding: 10px 0;
    margin: 0 5px;
}

.one_category > a > h3:hover {
    background-color: RGB(186,240,112);
    color: RGB(49,40,83);
}

.one_category > a {
    color: darkslategrey;
    text-decoration: none;
}

.one_category > a:hover {
    color: darkslategrey;
}

.one_category > a:link:hover {
    background-color: white;
}



/*one category page*/

.one_category_page {
    margin: 50px 0;
    display: flex;
   justify-content: center;
    max-height: 100%;
}

.one_category_each_product {
    margin: 20px 0;
    font-size: 15px;

}

.one_category_each_product_image {
    height: 200px;
    margin: 0px 20px 10px 20px;

}

.one_category_each_product_description_1 {
      margin: 0px 20px;
      text-align: right;
      margin-bottom: 10px;
    text-decoration: none;
  }
.one_category_each_product_description_2 {
    margin: 0px 20px;
    text-align: left;
    font-size: 15px;
}

.one_category_each_product_description_1 > h2 {
    margin-bottom: 5px;
}


/*access to sellers product*/

.product_access_button {
    margin: 0 20px;
}


.one_button {
    border: 1px solid darkslategrey;
    border-top: 0;
    margin: 8px 0px;
    /* height: 30px; */
    text-align: center;
    padding: 10px 0;

}

.one_button:hover {
    background-color: RGBA(217,250,167,0.48);
}


.one_button > a {
    text-decoration: none;

}

/*each product showing page */

.each_product_show {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    margin: 140px 0;
}

.each_product_show_box {
    /*margin: 0 80px;*/
    text-align: left;

}
.each_product_show_box_parts {
    margin-top: 20px;
}

.each_product_show_box_parts > h3 {
    margin: 0;
}




/*control_image_button for edit or deleting product*/
.control_image_button {
    width: 20px;
    height: auto;
}




/*community page*/


.comunity_container {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    margin: 30px 50px;
    justify-content: center;

}

.one_member {
    padding: 50px;
    text-align: left;
    font-size: 15px;
}

.one_member > .one_member_description {
    margin-top: 10px;
}




/*contact us form*/

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

/*input[type=submit] {*/
/*    background-color: #4CAF50;*/
/*    color: white;*/
/*    padding: 12px 20px;*/
/*    border: none;*/
/*    border-radius: 4px;*/
/*    cursor: pointer;*/
/*}*/

/*input[type=submit]:hover {*/
/*    background-color: #45a049;*/
/*}*/

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}




/*style for full footer */
footer {
    height: 50px;
    text-align: center;
}


/*style for socilamedia link button */

.socialmedia_link {
    margin: 20px 0;
    margin-left: 4vw;
    text-align: left;

}

.socialmedia_logo {
    width: 30px;
    height: auto;
}

 /*style for copyright */

.copyright {
    font-size:15px;
    height: auto;
    margin: 0 0 20px 0;

}